<div class="user-profile">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
    <div class="user-details">
       
        <input formControlName="username" type="text" placeholder="{{user.username}}" class="username-input"/>
        <input formControlName="email" type="email"  placeholder="{{user.email}}" class="email-input"/>

        <div class="buttons">
            <button type="submit" class="save-btn">Sauvegarder</button>
            <button (click)="deconnexion" class="logout-btn">Se déconnecter</button>
        </div>
    
        <div class="separator"></div>
        <div class="subscription-title">Abonnements</div>
    </div>
</form>

    
</div>

<app-subject [themes]="themes" [ButtonSubscription]="ButtonSubscription" [ButtonDesubscribe]="ButtonDesubscribe"  > </app-subject>
