<div class="grid">
  <div class="articles-container">
    <mat-card *ngFor="let subject of subjects" class="article" mat-elevation="4">
      <mat-card-header>
        <mat-card-title>{{ subject.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="description">
          <p class="content">{{ subject.description }}</p>
          <button (click)="addSubject(subject.id)" routerLink="register" mat-raised-button color="Primary" class="subscription-button">S’abonner</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
