<header class="navbar">
    <div class="logo">
      <img  src="/assets/logo_p6.png" alt="Logo">
    </div>
    <nav *ngIf="estConnecter != null" class="nav-links">
      <a routerLink="articles">Article</a>
      <a routerLink="themes">Théme</a>
    </nav>
    <button *ngIf="estConnecter != null" mat-icon-button class="burger-menu" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="estConnecter != null" class="profile-picture">
      <img src="/assets/pictureprofile.png" alt="Photo de profil">
    </div>
    <mat-menu  #menu="matMenu">
      <button [routerLink]="['/articles']" mat-menu-item>Article</button>
      <button [routerLink]="['/themes']"  mat-menu-item>Théme</button>
    </mat-menu>
  </header>
  