
.bouton{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.create-article-button{
  background-color: #7763C5 ;
  color: white;
}

.sort-by-selector {
  position: relative;
  display: inline-block;
}

.sort-by-selector select {
  padding: 8px 30px 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black; /* Couleur de la flèche */
}


@media screen and (max-width: 768px) {
  .articles-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .bouton{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .create-article-button{
    margin-bottom: 20px;
    width: 153px;
    height: 40px;

  }
}