<div class="cont">
  <div class="form sign-in">
    <form class="form" (ngSubmit)="userForm.valid && onsubmit()" [formGroup]="userForm">
    <h2>Welcome back,</h2>

    <label>
      <span>UserName</span>
      <span *ngIf="userForm.get('username')?.touched && userForm.get('username')?.errors" > 
      <p class="errorform" >Please enter valid Username</p> 
      </span>
      <input type="text" formControlName="username" name="userName" placeholder="" />
    </label>

    <label>
      <span>Email</span>
      <span *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors" > 
      <p class="errorform">Please enter valid email</p> 
      </span>
      <input type="email"  formControlName="email" name="email" placeholder="" />
    </label>

    <label>
      <span>Password</span>
      <span *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors" > 
      <p class="errorform" >Please enter valid password</p> 
      </span>
      <input type="password" formControlName="password"  name="password" placeholder=""/>
    </label>

    <label>
      <span>Confirm password</span>
      <input type="password" placeholder="" formControlName="passwordconfirm"  name="user_password" />
    </label>

    <span class="error">
      <p>{{error}}</p>
    </span>

    <span class="error" *ngIf="passwordconfirm" >
      <p>{{errorMessage}}</p>
    </span>

    <button type="submit" class="submit" [disabled]="!userForm.valid">Sign Up</button>

    
    <button type="button" (click)="navigateConnexion()" class="signin-btn">
      <i class="m--up"></i>Sign In
    </button>
    
    </form>


  </div>
  <div class="sub-cont">
    <div class="img" >
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
     
      <div (click)="navigateConnexion()"  class="img__btn">
        <span  class="m--up">Sign In</span>
       
        
      </div>
    </div>
    
  </div>
</div>

