<div class="bouton">
    <button [routerLink]="['/create-article']" mat-raised-button color="Primary" class="create-article-button">Créer un article</button>
  
    <!-- Sélecteur "Trier par" -->
    <div class="sort-by-selector">
      <select>
        <option value="date">Trier par date</option>
        <option value="author">Trier par Thémes A - Z</option>
        <option value="author">Trier par Thémes Z - A</option>
        <!-- Ajoutez d'autres options de tri selon vos besoins -->
      </select>
      <!-- Flèche vers le bas -->
    </div>
</div>
    <app-article [articles]="articles"></app-article>
  
  