.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 20px; /* Ajout de padding pour éviter que le contenu ne soit collé aux bords */
}

.button-container {
  display: flex;
  justify-content: center; /* Centrer les boutons horizontalement */
  margin-top: 20px; 
  max-width: 100%; /* Assurez-vous que la container ne dépasse pas la largeur de l'écran */
}

.button-container button {
  margin: 0 10px; /* Ajoutez de l'espace entre les boutons */
}

@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Empilez les boutons verticalement sur les écrans plus petits */
    align-items: center; /* Centrer les boutons verticalement */
  }

  .button-container button {
    margin: 10px 0; /* Ajoutez de l'espace entre les boutons */
  }
}
